.header{
    display: flex;
    position: absolute;
    width: 1440px;
    height: 60px;
    background-color: #141D28;
    margin: 0;
    justify-content: space-around;
}
.header p{
    position: absolute;
    width: 100px;
    height: 30px;
    left: calc(50% - 100px/2 - 514px);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
}
.header a{
    padding-right: 1rem;
}
.header a:last-child{
    padding-right: 0rem;
}
.header__img{
    padding-top: 21px;
}
.web{
    display: flex;
    position: absolute;
    height: 75px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: 0C1117, 100 %;
}